html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100%;
}

.left {
  background-color: yellow;
  flex: 1;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100px;
  height: 100px;
}

p {
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .left {
    height: 50px;
    flex: none;
  }

  .right {
    height: calc(100% - 50px);
  }
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.icon {
  width: 24px;
  height: 24px;
}
